<!-- 検索フォーム -->
<%= search_form_for @search, url: shop_path do |f| %>
  <div id="search-flexbox">
    <div class="search-box-item-left">
      <div class="search-head">エリアで絞り込む</div>
      <div><input class="input-item read-only" type="text" name="q[masseurs_cities_name_eq]" id="q_masseurs_cities_name_eq" data-toggle="popover" data-placement="bottom" title="都道府県から探す" value="東京都渋谷区" readonly></div>
    </div>
    <div class="search-box-item-right">
      <div class="search-btn"><%= f.submit '絞り込む', class: "search-submit-btn" %></div>
    </div>
  </div>
<% end %>

<div id="popover">
  <!-- 検索項目/日本区域-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <span class="returnBtn">←戻る</span>
    <% Region.all.each do |region| %>
      <li class="nav-list">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#region<%= region.id %>" role="tab" aria-controls="profile" aria-selected="false">
          <%= region.area %>
        </a>
      </li>
    <% end %>
  </ul>
  <!-- 検索項目/都道府県/市町村-->
  <div class="tab-content" id="myTabContent">
    <% Region.all.each do |region| %>
      <div class="tab-pane fade" id="region<%= region.id %>" role="tabpanel" aria-labelledby="profile-tab">
        <% region.prefectures.each do |prefecture| %>
          <div class="prefecturesAll">
            <span class="prefecture<%= prefecture.id %>"><%= prefecture.name %></span>
          </div>
          <span class="prefectureLink<%= prefecture.id %>">
            <% prefecture.cities.each do |city| %>
              <div class="cityAll"><%= city.name %></div>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="popover-clone">
</div>

<section class="product-shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
        <div class="box29">
          <!--<div class="box-title"></div>
          <h5 class="star_rate"></h5>
          <p></p>
        </div>
        <div class="box2">
          <p>ここに文章</p>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">一覧</h4>
          <ul class="filter-catagories">
            <li><a href="#">a</a></li>
            <li><a href="#">b</a></li>
            <li><a href="#">c</a></li>
          </ul>
        </div>-->
      </div>
    </div>

    <div class="col-lg-9 order-1 order-lg-2">
      <div class="product-show-option">
        <div class="list_head">
          <h4 class="fw-title">店舗一覧</h4>
          <ul class="nav nav-tabs">
            <li class="nav-item-sort"><%= link_to "全てのマッサージ", shop_path %></li>
            <li class="nav-item-sort"><%= sort_link(@search, :reviews_count, "口コミが多い順", default_order: :desc) %></li>
            <li class="nav-item-sort"><%= sort_link(@search, :reviews_evaluation, "口コミ評価が高い順", default_order: :desc) %></li>
            <li class="nav-item-sort"><%= sort_link(@search, :plan_cheap, "料金が安い順") %></li>
          </ul>
        </div>
        <!-- 検索結果表示 -->
        <% @store_result.each do |store| %>
          <div class="">
            <div class="row">
              <div class="col-lg-12">
               <div class="s_top_space">
                &emsp;<%= link_to store.store_name, details_path(store), class:"bottom_space_10 white-space_n" %>
                <div class="posted-by">
                  <div class="pb-pic list-mgr-img-box">
                    <%  store_images = store.store_images.first %>
                    <% unless store_images.nil? %>
                      <% if store_images.store_image.present? %>
                        <img src="<%= store_images.store_image[0].url %>" alt="" class="all_store_store_image">
                      <% else %>
                        <img src="../images/no_image.jpg" alt="" class="all_store_store_image">
                      <% end %>
                    <% else %>
                      <img src="../images/no_image.jpg" alt="" class="all_store_store_image">
                    <% end %>
                  </div>
                  <div class="pb-text ">
                    <p class="posted_text "><%= store.store_description %></p>
                  </div>
                  <%= render 'layouts/raty.html.erb' %>
                  <div class="service-detail list-mgr-star">
                    <div class="detail-left list-mgr-detail-left">
                      <div id="star-rate-<%= store.id %>" class="shop-review"></div>
                      <span><%= store.avg_score %><%= link_to " 口コミ #{store.reviews.count}件", user_store_review_index_path(store.id) %></span>
                      <script>
                        $('#star-rate-<%= store.id %>').raty({
                          size: 36,
                          starOff: "/assets/star-off.png",
                          starOn: "/assets/star-on.png",
                          starHalf: "/assets/star-half.png",
                          half: true,
                          readOnly: true,
                          score: <%= store.avg_score %>,
                        });
                      </script>
                    </div>
                    <div class="detail-right">
                      <div class="service-price text-price">
                        <%= store.plans.pluck(:plan_price).min %>
                        <span>円（税込）</span>
                      </div>
                      <div>
                        <%= link_to "料金と口コミを確認する", details_path(store), class: "link-detail-btn" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </section>
    </div>
  </div>
</section>

<!-- Js Plugins -->
<!--
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/jquery.dd.min.js"></script>
<script src="assets/js/jquery.slicknav.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

$(function(){
  $("#q_masseurs_cities_name_eq").one('click', function(){
    //#popoverをクローン、idを#addに変更、viewに追加
    $("#popover").clone().attr("id", "add").appendTo("#popover-clone");
    var navLink = $("#add").find(".nav-link");
    var tabContent = $("#add").find(".tab-content .tab-pane");

    $(".popover").css({'max-width':'1000px', 'margin-left':'45px'});

    //navLinkのhref属性の値を変更/日本区域をクリックすると都道府県表示
    $.each(navLink, function(index, value){
      value.setAttribute('href', "#region" + (index + 10));
    });
    //tabContentのid属性の値を変更/日本区域をクリックすると都道府県表示
    $.each(tabContent, function(index, value){
      value.setAttribute("id", "region" + (index + 10));
    });
    $(function(){
    // 千葉県の処理
    $(".prefecture12").on('click', function(){
      $('.returnBtn, .prefectureLink12').show();
      $('.nav-list, .prefecturesAll').hide();
      $(".returnBtn").on('click', function(){
        $('.returnBtn, .prefectureLink12').hide();
        $('.nav-list, .prefecturesAll').show();
      });
    });
    // 東京都の処理
    $(".prefecture13").on('click', function(){
      $('.returnBtn, .prefectureLink13').show();
      $('.nav-list, .prefecturesAll').hide();
      $(".returnBtn").on('click', function(){
        $('.returnBtn, .prefectureLink13').hide();
        $('.nav-list, .prefecturesAll').show();
      });
    });
    // 神奈川県の処理
    $(".prefecture14").on('click', function(){
      $('.returnBtn, .prefectureLink14').show();
      $('.nav-list, .prefecturesAll').hide();
      $(".returnBtn").on('click', function(){
        $('.returnBtn, .prefectureLink14').hide();
        $('.nav-list, .prefecturesAll').show();
      });
    });
    });
    // 市町村をクリックすると入力フォームに反映、検索可能
    $(function(){
      $(".cityAll").on('click', function(){
        var element = document.getElementById('q_masseurs_cities_name_eq')
        element.value = this.textContent
      });
    });
  });
});

//popoverの設定
$('[data-toggle="popover"]').popover({
  html: true,
  container: 'body',
  content: $("#popover-clone"),
  trigger: 'click'
});

</script>
