<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <%= link_to "予約の確認", store_managers_index_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <%= link_to "登録内容の編集", store_managers_show_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">メッセージ確認</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="top_space">
  <div class="text_width text_left">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-success mt-5 text_left"><%= message %></div>
    <% end %>
    <div class="box-content message-box">
      <table class="table">
        <tbody>
          <tr>
            <td>受信日：<%= @message.created_at.strftime('%m/%d　%H:%M') %></td>
          </tr>
          <tr>
            <td>件名：<%= @message.title %></td>
          </tr>
          <tr>
            <td><%= @message.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5><%= User.find(@message.user_id).name %></h5>

    <% if @message.id == @message.user_id %>
      <% @replies.each do |r| %>
        <div class="box-content reply-box">
          <table class="table">
            <tbody>
              <tr>
                <td><%= r.reply %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="text-right">
        <h5><%= Store.find(@message.store_id).store_manager.name %></h5>
      </div>
    <% end %>


    <%= form_with(model: @reply, url: store_manager_store_message_replies_path(@store, @message), local: true, method: :post) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <br>
        <%= f.text_area :reply, size: "30x5", class: "form-control" %><br>

        <%= f.hidden_field :message_id, value: @message.id %>
        <%= f.hidden_field :store_id, value: current_store_manager.id %>
        <%= f.hidden_field :user_id, value: @message.user_id %>

        <%= f.submit "メッセージを返信する", class: "btn btn-warning btn-lg" %>

      <% end %>
  </div>
</div>
<%= render template: "layouts/store_managers"%>
