<div class="center cenrer-block">
  <div id="storecommit" class="service-price">
    <div class="box-content">
      <table class="table">
        <h2 class="content-h2">口コミ</h2>
        <h1 class="ttl-hold-info"><%= User.find(@review.user_id).name %>さんの口コミ</h1>
          <div class="review-group>
            <div class="wrap-user">
              <img class="pull-left" src="../../../../images/icon_reviewer.png" height="41" width="41">
              <p class="nickname"><%= User.find(@review.user_id).name %></p>
            </div>
              <p class="voice-situation">
                投稿期間：<%= @review.created_at.strftime('%Y/%m/%d') %>
                <% if current_user.id == @review.user_id %>
                  <%= link_to "編集", user_store_review_edit_path(@store.id, @review.id) %>
                  <%= link_to "削除" %>
                <% end %>
              </p>

              <div class="wrap-voice">
                <div class="voice-content">
                  <div class="star-rate star-rate5">
                    <span id="star-rate-<%= @review.id %>"></span>
                    <span><%= @review.rate %>点</span>
                  </div>
                  <div class="text-voice">
                    <%= @review.content %>
                  </div>
                </div>
              </div>
            <%= render 'layouts/raty.html.erb' %>
            <script>
                $('#star-rate-<%= @review.id %>').raty({
                    size: 36,
                    starOff: "/assets/star-off.png",
                    starOn: "/assets/star-on.png",
                    starHalf: "/assets/star-half.png",
                    half: true,
                    readOnly: true,
                    score: <%= @review.rate %>,
                });
            </script>
          </div>
      </table>
    </div>
  </div>
</div>