<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="mt-5 mb-4 text-center"><%= @store.store_name %>の編集</h3>
        <hr>
        <div class="jumbotron">
          <div class="form_group">
            <%= form_with(model: @store, url: store_manager_store_path(@store), method: :patch, local: true) do |sf| %>
              <%= render "shared/error_messages", object: sf.object %>
              <div class="field mt-3">
                <%= sf.label :store_name, class:"mr-2"%><span class="badge badge-danger">必須</span>
                <%= sf.text_field :store_name, class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :adress, class:"mr-2" %>
                <%= sf.text_field :adress,placeholder: "例）東京都墨田区押上１丁目１−２", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_phonenumber, class:"mr-2" %>
                <%= sf.text_field :store_phonenumber, placeholder: "例）012-3456-7890", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_description, class:"mr-2" %>
                <%= sf.text_area :store_description, class:"form-control" %>
              </div>

              <div class="field mt-3">
                <% unless @store.store_images.pluck(:store_image).any? %>
                  <% if @store.store_images.where(store_image: nil).present? %>
                    <%= sf.fields_for :store_images do |sif| %>
                      <div class="post__drop__box__container">
                        <div class="prev-content"></div>
                        <div class="label-content">
                          <label class="label-box" for="store_img_field_0" id="label-box--0">
                            <pre class="label-box__text-visible">クリックしてファイルをアップロード/画像なしnil</pre>
                          </label><br>
                          <div class="hidden_content">
                            <%= sif.file_field :store_image, id: :store_img_field_0, name: "store[store_images_attributes][0][store_image][]", multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_1, name: "store[store_images_attributes][1][store_image][]", multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_2, name: "store[store_images_attributes][2][store_image][]", multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_3, name: "store[store_images_attributes][3][store_image][]", multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_4, name: "store[store_images_attributes][4][store_image][]", multiple: true %>
                          </div>
                          <hr>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                      <%= sf.fields_for :store_images, @store.store_images.build do |sif| %>
                        <div class="post__drop__box__container">
                          <div class="prev-content"></div>
                          <div class="label-content">
                            <label class="label-box" for="store_img_field_0" id="label-box--0">
                              <pre class="label-box__text-visible">クリックしてファイルをアップロード/画像なしidなし</pre>
                            </label><br>
                            <div class="hidden_field">
                              <%= sif.file_field :store_image, id: :store_img_field_0, name: "store[store_images_attributes][0][store_image][]", multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_1, name: "store[store_images_attributes][1][store_image][]", multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_2, name: "store[store_images_attributes][2][store_image][]", multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_3, name: "store[store_images_attributes][3][store_image][]", multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_4, name: "store[store_images_attributes][4][store_image][]", multiple: true %>
                            </div>
                            <hr>
                          </di>
                        </div>
                      <% end %>
                  <% end %>
                <% else %>
                  <%= sf.fields_for :store_images do |sif| %>
                    <div class="post__drop__box__container">
                      <div class="prev-content"></div>
                      <div class="label-content">
                        <label class="label-box" for="store_img_field_0" id="label-box--0">
                          <pre class="label-box__text-visible">クリックしてファイルをアップロード/画像あり更新</pre>
                        </label><br>
                        <div class="hidden_content">
                          <%= sif.file_field :store_image, id: :store_img_field_0, name: "store[store_images_attributes][0][store_image][]", multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_1, name: "store[store_images_attributes][1][store_image][]", multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_2, name: "store[store_images_attributes][2][store_image][]", multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_3, name: "store[store_images_attributes][3][store_image][]", multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_4, name: "store[store_images_attributes][4][store_image][]", multiple: true %>
                        </div>
                        <span class="image_notice">※画像の更新をする場合は添付する画像を選択してください。</span>
                        <div class="field mt-3">
                          <%= sif.check_box :remove_store_image %>&ensp;画像の削除</span>
                          <p class="image_notice">※画像を削除する場合はチェックボックスにチェックを入れてください。</p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- プレビュー -->
              <div class="prev-content">
                <div class="label-content"></div>
              </div>




              <div class="field mt-3">
                <% unless @store.store_images.pluck(:sm_image).any? %>
                  <% if @store.store_images.where(sm_image: nil).present? %>
                    <%= sf.fields_for :store_images do |sif| %>
                      <%= sif.label :sm_image, class:"mr-2" %><br>
                      <%= sif.file_field :sm_image, multiple: true %><br>
                    <% end %>
                  <% else %>
                      <%= sf.fields_for :store_images, @store.store_images.build do |sif| %>
                        <%= sif.label :sm_image, class:"mr-2" %><br>
                        <%= sif.file_field :sm_image, multiple: true %>
                      <% end %>
                  <% end %>
                <% else %>
                  <%= sf.fields_for :store_images do |sif| %>
                    <%= sif.label :sm_image, class:"mr-2" %><br>
                    <%= sif.file_field :sm_image, multiple: true %><br>
                    <span class="image_notice">※画像の更新をする場合は添付する画像を選択してください。</span>
                    <div class="field mt-3">
                      <%= sif.check_box :remove_sm_image %>&ensp;画像の削除</span>
                      <p class="image_notice">※画像を削除する場合はチェックボックスにチェックを入れてください。</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <div class="actions mt-5 text-center">
              <%= sf.submit "更新", class:"btn btn-primary w-75" %>
            </div>
            <% end %>
          </div>
        </div>
      <%= link_to "キャンセル", store_managers_show_path(current_store_manager), class:"top_space" %>
      <%= link_to "top", root_path %>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

"
<script>
$(document).on('turbolinks:load', function(){
  $(function(){
    //プレビューのhtmlを定義
    function buildHTML(count) {
      var html = `<div class="preview-box" id="preview-box__${count}">
                    <div class="upper-box">
                      <img src="" alt="preview">
                    </div>
                    <div class="lower-box">
                      <div class="update-box">
                        <label class="edit_btn">編集</label>
                      </div>
                      <div class="delete-box" id="delete_btn_${count}">
                        <span>削除</span>
                      </div>
                    </div>
                  </div>`
      return html;
    }

    // ラベルのwidth操作
    function setLabel() {
      //プレビューボックスのwidthを取得し、maxから引くことでラベルのwidthを決定
      var prevContent = $('.prev-content');
      labelWidth = (620 - $(prevContent).css('width').replace(/[^0-9]/g, ''));
      $('.label-content').css('width', labelWidth);
    }

    $('.hidden_field').change(function(event) {
      //file_fieldのidの数字だけ取得
      var id = event.target.id.replace(/[^0-9]/g, '');

      //labelボックスのidとforを更新
      $('.label-box').attr({id: `label-box--${id}`,for: `store_img_field_${id}`});

      //選択したfileのオブジェクトを取得
      file = event.target.files[0]
      reader = new FileReader(),

      //readAsDataURLで指定したFileオブジェクトを読み込む
      reader.readAsDataURL(file);

      //読み込み時に発火するイベント
      reader.onload = function() {
        var image = this.result;
        //プレビューが元々なかった場合はhtmlを追加
        if ($(`#preview-box__${id}`).length == 0) {
          var count = $('.preview-box').length;
          var html = buildHTML(id);
          //プレビュー群にプレビューを追加
          var prevContent = $('.label-content').prev();
          $(prevContent).append(html);
        }
        //イメージを追加
        $(`#preview-box__${id} img`).attr('src', `${image}`);
      }

    });
  });
})
</script>
