<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="mt-5 mb-4 text-center"><%= @store.store_name %>の編集</h3>
        <hr>
        <div class="jumbotron">
          <div class="form_group">
            <%= form_with(model: @store, url: store_manager_store_path(@store), method: :patch, local: true) do |sf| %>
              <%= render "shared/error_messages", object: sf.object %>
              <div class="field mt-3">
                <%= sf.label :store_name, class:"mr-2"%><span class="badge badge-danger">必須</span>
                <%= sf.text_field :store_name, class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :adress, class:"mr-2" %>
                <%= sf.text_field :adress,placeholder: "例）東京都墨田区押上１丁目１−２", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_phonenumber, class:"mr-2" %>
                <%= sf.text_field :store_phonenumber, placeholder: "例）012-3456-7890", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_description, class:"mr-2" %>
                <%= sf.text_area :store_description, class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :payment, class:"mr-2" %>
                <%= sf.text_area :payment, placeholder: "例）	現金orカードにて施術料金をお支払いください。", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :customer_request, class:"mr-2" %>
                <%= sf.text_area :customer_request, placeholder: "例）	・予約のリクエストをいただいた後はメッセージをお送りしておりますので、メッセージ欄をご確認くださいませ。", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :question, class:"mr-2" %>
                <%= sf.text_area :question, placeholder: "例）  Q.追加料金がかかる場合がありますか？
          A.コースの変更・延長がない場合は施術料の追加料金はかかりません。", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <% unless @store.store_images.pluck(:store_image).any? %>
                  <% if @store.store_images.where(store_image: nil).present? %>
                    <%= sf.fields_for :store_images do |sif| %>
                      <div class="store-image-title">店舗写真</div>
                      <p class="image_notice">※最大5枚までアップロードできます</p>
                      <div class="post__drop__box__container">
                        <div class="prev-content"></div>
                        <div class="label-content">
                          <label class="label-box" for="store_img_field_0" id="label-box--0">
                            <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
                          </label><br>
                          <div class="hidden_field">
                            <%= sif.file_field :store_image, id: :store_img_field_0, multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_1, multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_2, multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_3, multiple: true %>
                            <%= sif.file_field :store_image, id: :store_img_field_4, multiple: true %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <hr>
                  <% else %>
                      <%= sf.fields_for :store_images, @store.store_images.build do |sif| %>
                        <div class="store-image-title">店舗写真</div>
                        <p class="image_notice">※最大5枚までアップロードできます</p>
                        <div class="post__drop__box__container">
                          <div class="prev-content"></div>
                          <div class="label-content">
                            <label class="label-box" for="store_img_field_0" id="label-box--0">
                              <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
                            </label><br>
                            <div class="hidden_field">
                              <%= sif.file_field :store_image, id: :store_img_field_0, multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_1, multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_2, multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_3, multiple: true %>
                              <%= sif.file_field :store_image, id: :store_img_field_4, multiple: true %>
                            </div>
                          </di>
                        </div>
                      <% end %>
                    <hr>
                  <% end %>
                <% else %>
                  <%= sf.fields_for :store_images do |sif| %>
                    <div class="store-image-title">店舗写真</div>
                    <p class="image_notice">※最大5枚までアップロードできます</p>
                    <div class="post__drop__box__container">
                      <div class="prev-content"></div>
                      <div class="label-content">
                        <label class="label-box" for="store_img_field_0" id="label-box--0">
                          <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
                        </label><br>
                        <div class="hidden_field">
                          <%= sif.file_field :store_image, id: :store_img_field_0, multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_1, multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_2, multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_3, multiple: true %>
                          <%= sif.file_field :store_image, id: :store_img_field_4, multiple: true %>
                        </div>
                      </div>
                    </div>
                    <div class="field mt-3">
                      <%= sif.check_box :remove_store_image %>&ensp;画像の削除</span>
                      <p class="image_notice">※登録中投稿画像を削除する場合はチェックボックスにチェックを入れてください。</p>
                    </div>
                  <% end %>
                  <hr>
                <% end %>
              </div>
              <div class="field mt-3">
                <% unless @store.store_images.pluck(:sm_image).any? %>
                  <% if @store.store_images.where(sm_image: nil).present? %>
                    <!-- 画像なしnil -->
                    <%= sf.fields_for :store_images do |sif| %>
                      <div class="sm-image-title">店長写真</div>
                      <p class="image_notice">※最大1枚までアップロードできます</p>
                        <div class="sm-image-post-drop-box-container">
                          <div class="sm-image-prev-content">
                            <div id="sm_image-preview"></div>
                          </div>
                          <div class="sm-image-label-content">
                            <label class="sm-image-label-box" for="store_store_images_attributes_1_sm_image" id="sm-image-label-box--0">
                              <pre class="sm-image-label-box__text-visible">クリックしてファイルをアップロード</pre>
                            </label><br>
                            <div class="hidden_field">
                              <%= sif.file_field :sm_image, multiple: true %><br>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  <% else %>
                    <!-- 画像なしidなし -->
                    <%= sf.fields_for :store_images, @store.store_images.build do |sif| %>
                      <div class="sm-image-title">店長写真</div>
                      <p class="image_notice">※最大1枚までアップロードできます</p>
                      <div class="sm-image-post-drop-box-container">
                        <div class="sm-image-prev-content">
                          <div id="sm_image-preview"></div>
                        </div>
                        <div class="sm-image-label-content">
                          <label class="sm-image-label-box" for="store_store_images_attributes_1_sm_image" id="sm-image-label-box--0">
                            <pre class="sm-image-label-box__text-visible">クリックしてファイルをアップロード</pre>
                          </label><br>
                          <div class="hidden_field">
                            <%= sif.file_field :sm_image, multiple: true %><br>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <!-- 画像あり更新 -->
                  <%= sf.fields_for :store_images do |sif| %>
                    <div class="sm-image-title">店長写真</div>
                    <p class="image_notice">※最大1枚までアップロードできます</p>
                      <div class="sm-image-post-drop-box-container">
                        <div class="sm-image-prev-content">
                          <div id="sm_image-preview"></div>
                        </div>
                        <div class="sm-image-label-content">
                          <label class="sm-image-label-box" for="store_store_images_attributes_1_sm_image" id="sm-image-label-box--0">
                            <pre class="sm-image-label-box__text-visible">クリックしてファイルをアップロード</pre>
                          </label><br>
                          <div class="hidden_field">
                            <%= sif.file_field :sm_image, multiple: true %><br>
                          </div>
                        </div>
                      </div>
                    <div class="field mt-3">
                      <%= sif.check_box :remove_sm_image %>&ensp;画像の削除</span>
                      <p class="image_notice">※登録中画像を削除する場合はチェックボックスにチェックを入れてください。</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <div class="actions mt-5 text-center">
              <%= sf.submit "更新", class:"btn btn-primary w-75" %>
            </div>
            <% end %>
          </div>
        </div>
      <%= link_to "キャンセル", store_managers_show_path(current_store_manager), class:"top_space" %>
      <%= link_to "top", root_path %>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script>
//プレビューのhtmlを定義
function buildHTML(count) {
  var html = `<div class="preview-box" id="preview-box__${count}">
                <div class="upper-box">
                  <img src="" alt="preview">
                </div>
                <div class="lower-box">
                  <div class="delete-box" id="delete_btn_${count}">
                    <span>キャンセル</span>
                  </div>
                </div>
              </div>`
  return html;
}

function buildHTMLSmImage(count) {
  var html = `<div class="sm-image-preview-box" id="sm-image-preview-box__${count}">
                <div class="sm-image-upper-box">
                  <img src="" alt="preview">
                </div>
                <div class="sm-image-lower-box">
                  <div class="sm-image-delete-box" id="sm-image-delete_btn_${count}">
                    <span>キャンセル</span>
                  </div>
                </div>
              </div>`
  return html;
}

// ラベルのwidth操作
function setLabel() {
  //プレビューボックスのwidthを取得し、maxから引くことでラベルのwidthを決定
  var prevContent = $('.label-content').prev();
  labelWidth = (620 - $(prevContent).css('width').replace(/[^0-9]/g, ''));
  $('.label-content').css('width', labelWidth);
}

//店舗写真のfile_fieldをまとめて変数に代入
var storeImgField = "input[id=store_img_field_0][type=file], input[id=store_img_field_1][type=file], input[id=store_img_field_2][type=file], input[id=store_img_field_3][type=file], input[id=store_img_field_4][type=file]"

//店舗写真が変更されるたびに発火
jQuery(document).on('change', storeImgField, function (event) {
  console.log(this.files);
  //hidden-fieldのidの数値のみ取得
    var id = $(this).attr('id').replace(/[^0-9]/g, '');
  //選択したfileのオブジェクトを取得
    var file = this.files[0];
    var reader = new FileReader();
  //readAsDataURLで指定したFileオブジェクトを読み込む
    reader.readAsDataURL(file);

    reader.onload = function() {
    var image = this.result;
    //プレビューが元々なかった場合はhtmlを追加
        if ($(`#preview-box__${id}`).length == 0) {
          var count = $('.preview-box').length;
          var html = buildHTML(id);
          //ラベルの直前のプレビュー群にプレビューを追加
          var prevContent = $('.label-content').prev();
          $(prevContent).append(html);
        }
        //イメージを追加
        $(`#preview-box__${id} img`).attr('src', `${image}`);
        var count = $('.preview-box').length;
        //プレビューが5個あったらラベルを隠す
        if (count == 5) {
          $('.label-content').hide();
        }
        //ラベルのwidth操作
        setLabel();
        //ラベルのidとforの値を変更
        if(count < 5){
          //プレビューの数でラベルのオプションを更新する
          $('.label-box').attr({id: `label-box--${count}`,for: `store_img_field_${count}`});
        }
    }
    // 画像の削除
    $(document).on('click', '.delete-box', function() {
      var count = $('.preview-box').length;
      setLabel(count);
      //item_images_attributes_${id}_image から${id}に入った数字のみを抽出
      var id = $(this).attr('id').replace(/[^0-9]/g, '');
      //取得したidに該当するプレビューを削除
      $(`#preview-box__${id}`).remove();
      console.log("new")
      //フォームの中身を削除
      $(`#item_images_attributes_${id}_image`).val("");

      //削除時のラベル操作
      var count = $('.preview-box').length;
      //5個めが消されたらラベルを表示
      if (count == 4) {
        $('.label-content').show();
      }
      setLabel(count);

      if(id < 5){
        //削除された際に、空っぽになったfile_fieldをもう一度入力可能にする
        $('.label-box').attr({id: `label-box--${id}`,for: `store_img_field_${id}`});
      }
    });
});

// 投稿編集時
// 画像が一枚でも登録されていたら
if ( $("#store_image0").length > 0 ) {
  const targetElem = document.querySelectorAll('#store_image_edit img');
  const targetCount = targetElem.length;

  // 登録済画像データだけの配列（DB用）
  var registered_images_ids =[]

  $.each(targetElem, function(index, val) {
    var currentSrc = val.getAttribute("src");
    $(`#preview-box__${index} img`).attr('src', `${currentSrc}`);
  })
}

// 店長写真プレビュー表示
$("#store_store_images_attributes_1_sm_image").change(function(event) {
  //選択したfileのオブジェクトを取得
  var file = this.files[0];
  var reader = new FileReader();
  var id = $(this).attr('id').replace(/[^0-9]/g, '');

  //readAsDataURLで指定したFileオブジェクトを読み込む
  reader.readAsDataURL(file);
  reader.onload = function() {
    var image = this.result;
    console.log(image);
    //プレビューが元々なかった場合はhtmlを追加
      if ($(`#sm-image-preview-box__${id}`).length == 0) {
        var count = $('.sm-image-preview-box').length;
        var html = buildHTMLSmImage(id);
        //ラベルの直前のプレビュー群にプレビューを追加
        var prevContent = $('.sm-image-label-content').prev();
        $(prevContent).append(html);
      }
      //イメージを追加
      $(`#sm-image-preview-box__${id} img`).attr('src', `${image}`);
      var count = $('.sm-image-preview-box').length;
      //プレビューが5個あったらラベルを隠す
      if (count == 1) {
        $('.sm-image-label-content').hide();
      }
      //ラベルのwidth操作
      setLabel();

      // 画像の削除
      $(document).on('click', '.sm-image-delete-box', function() {
        var count = $('.sm-image-preview-box').length;
        setLabel(count);
        //item_images_attributes_${id}_image から${id}に入った数字のみを抽出
        var id = $(this).attr('id').replace(/[^0-9]/g, '');
        //取得したidに該当するプレビューを削除
        $(`#sm-image-preview-box__${id}`).remove();
        console.log("new")
        //フォームの中身を削除
        $(`#item_images_attributes_${id}_image`).val("");

        //削除時のラベル操作
        var count = $('.sm-image-preview-box').length;
        //5個めが消されたらラベルを表示
        if (count == 0) {
          $('.sm-image-label-content').show();
        }
        setLabel(count);

        if(id < 5){
          //削除された際に、空っぽになったfile_fieldをもう一度入力可能にする
          $('.sm-image-label-box').attr({id: `sm-image-label-box--${id}`,for: `store_store_images_attributes_1_sm_image`});
        }
      });
  }
});

</script>