<!DOCTYPE html>
<html>
  <head>
    <title>Smartポータル</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body>
  <% content_for :content do %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/fotter' %>
  <% end %>
  <%= render template: "layouts/application" %>
</body>
</html>